/***********************************************************
 * CSS file created by Federico Barbero - Matricola 220352 *
 ***********************************************************/
@CHARSET "ISO-8859-1";

.header {
	display: block;
	background-color: #DCDCDC;
	text-align: center;
	top: 0;
	z-index: 10;
	width: 100%;
	height: 14em;
	border-bottom: 1px solid #000;
	overflow: auto;
}

#page {
	font-family: Verdana, Arial, sans-serif;
	font-size: 30px;
}

#title {
	font-family: Verdana, Arial, sans-serif;
	font-size: 20px;
}

ul.navbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: relative;
	top: 0em;
}

#navlink {
	display: block;
	padding: 1em;
}

body {
	margin: 0;
	padding: 15em 1em 0 13em;
	background: #ffffff;
	font-size: 1em;
}

.header, .navbar {
	position: absolute;
	left: 0;
}

.navbar {
	top: 15em;
	bottom: 0;
	width: 12em;
	margin-top: -1em;
	padding: 0;
	border-right: 1px solid #000;
	font-family: Verdana, Arial, sans-serif;
	background-color: #DCDCDC;
}

.table {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    width: 100%;
    border-collapse: collapse;
}

#header, #data {
    font-size: 1em;
    border: 1px solid #c0c0c0;
    padding: 3px 7px 2px 7px;
}

#data {
	text-align: center;
}

#header {
    font-size: 1.1em;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #c0c0c0;
    color: #ffffff;
}

.content {
	text-align: center;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	overflow: auto;
}

/* Form log in */
.login {
    margin-left:auto;
    margin-right:auto;
    max-width: 500px;
    background: #F7F7F7;
    padding: 25px 15px 25px 10px;
    color: #888;
    text-shadow: 1px 1px 1px #FFF;
    border:1px solid #E4E4E4;
}
.login h3 {
    font-size: 25px;
    padding: 0px 0px 10px 40px;
    display: block;
    border-bottom:1px solid #E4E4E4;
    margin: -10px -15px 30px -10px;;
    color: #888;
}

.login label {
    display: block;
    margin: 0px;
}
.login label>span {
    float: left;
    width: 20%;
    text-align: right;
    padding-right: 10px;
    margin-top: 10px;
    color: #888;
}
.login input[type="text"], .login input[type="password"] {
    border: 1px solid #DADADA;
    color: #888;
    height: 30px;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    outline: 0 none;
    padding: 3px 3px 3px 5px;
    width: 70%;
    font-size: 12px;
    line-height:15px;
    box-shadow: inset 0px 1px 4px #ECECEC;
    -moz-box-shadow: inset 0px 1px 4px #ECECEC;
    -webkit-box-shadow: inset 0px 1px 4px #ECECEC;
}

.login select {
	border: 1px solid #DADADA;
    color: #888;
    height: 30px;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    outline: 0 none;
    padding: 3px 3px 3px 5px;
    width: 25%;
    font-size: 12px;
    line-height:15px;
    box-shadow: inset 0px 1px 4px #ECECEC;
    -moz-box-shadow: inset 0px 1px 4px #ECECEC;
    -webkit-box-shadow: inset 0px 1px 4px #ECECEC;
}

.login .button {
    background: #E27575;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    box-shadow: 1px 1px 5px #B6B6B6;
    border-radius: 3px;
    text-shadow: 1px 1px 1px #9E3F3F;
    cursor: pointer;
}
.login .button:hover {
    background: #CF7A7A
}

#alert {
	color: #ff0000;
}

h4.content {
	color: red;
}

#list_content {
	text-align: left;
}